<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Salesforce Test Automation Test Suite">
    <listeners>
		<listener class-name="com.Saleforce.SaleforceDemo.QA.ExtentReports.ExtentReporterNG"></listener>
		<listener class-name="com.Saleforce.SaleforceDemo.QA.Util.MyTransformer"></listener>
	</listeners>
    <test name="Regression">
         <classes>
             <class name="com.Saleforce.SaleforceDemo.TestCases.LoginPageTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->